@import "../../styles/mixins";

.container {
  display: grid;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: 1fr;

  @include media-min-tablet-landscape {
    grid-template-columns: 1fr 1fr;
    width: 34.125rem;
  }
}

.card {
  width: 265px;
  height: 138px;
  margin: 0 auto;
  position: relative;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.cardText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 1.125rem;
}
