.container {
  h2 {
    font-size: 2rem;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 85rem;
  margin: 2rem auto 0 auto;
  th,
  td {
    border: 3px solid #222;
    padding: 0.5rem;
  }
  th:first-child,
  td:first-child {
    width: 50%;
  }
  th:nth-child(2),
  td:nth-child(2) {
    text-align: center;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 10%;
    text-align: center;
  }
}
