@import "../../styles/mixins.scss";

.revealButtonContainer {
  cursor: pointer;
  position: relative;
}

.revealButton {
  display: inline-block;
  font-weight: 700;
  line-height: normal;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-table-blue);
  color: #fff;
  width: 8rem;
  text-align: center;
}
