:root {
  --color-purple: #a346a3;
  --color-purple-tinted: #b56ab5;
  --color-green: #0d883c;
  --color-red: #c23232;
  --color-blue: #3278bd;
  --color-yellow: #fdd023;
  --color-teal: #82c9b6;
}

body {
  background-color: #090040;
  width: 90%;
  margin: 2rem auto;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}
