:root {
  --color-purple: #a346a3;
  --color-purple-tinted: #b56ab5;
  --color-blue: #3278bd;
  --color-blue-shaded: #286097;
  --color-blue-tinted: #84aed7;
  --color-orange: #ff6e00;
  --color-orange-tinted: #ffc599;
  --color-dark-text: #010000;
  --color-site-background: #040020;
  --border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* font-family: var(--rubik); */
}

body {
  color: #fff;
  background: var(--color-site-background);
  width: 90%;
  margin: 2rem auto;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.history-and-culture {
  background-color: var(--color-yellow);
}

.main-content-container {
  padding-top: 4rem;
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}
