.container {
  cursor: pointer;
  font-weight: 700;
}

.study {
  cursor: default;
}

.answerCell {
  position: relative;
}

.answer {
  font-style: italic;
}

.concealer {
  color: var(--color-blue-tinted);
  font-weight: 700;
  text-decoration: underline;
}

.hidden {
  display: none;
}
