.container {
  width: 15rem;
}

.heading {
  margin-bottom: 1rem;
  font-weight: 700;
}

.inputWrapper {
  display: flex;
  margin-bottom: 0.25rem;
  align-items: center;

  & > div {
    margin-right: 0.5rem;
  }
  & > input {
    margin-right: 0.5rem;
  }
}
