.learnedCell {
  font-size: 1.25rem;
  cursor: pointer;

  .notLearnedCheck:hover {
    color: #fff;
  }
}

.isLearnedCheck {
  color: var(--color-green);
  svg {
    stroke-width: 5;
  }
}

.notLearnedCheck {
  color: #888;
}

.answerContainer {
  cursor: pointer;
}

.defaultCursor {
  cursor: default;
}

.answerCell {
  position: relative;
}

.answer {
  font-style: italic;
}

.concealer {
  color: var(--color-blue-tinted);
  font-weight: 700;
  text-decoration: underline;
}

.hidden {
  display: none;
}
